
<div class="card">
    <div class="card-hearder">
        <div class="fa fa-user">  <%= link_to user.email, user_path(user) %> </div>
            
        
    </div>
    <div class="card-footer">
        Signup
        <%= time_ago_in_words(user.created_at) %> 
    </div>
    <div class="card-footer">
        <%= 'sign_in_count'.humanize %>
        <%= user.sign_in_count %>
        <div class="row"></div>
        <%= 'current_sign_in_at'.humanize %>
        <%= user.current_sign_in_at %>
        <div class="row"></div>
        <%= 'last_sign_in_at' .humanize %>
        <%=user.last_sign_in_at %>
        <div class="row"></div>
        <%= 'current_sign_in_ip'.humanize %>
        <%=user.current_sign_in_ip %>
        <div class="row"></div>
        <%= 'last_sign_in_ip'.humanize %>
        <%=user.last_sign_in_ip %>
        <div class="row"></div>
        <% user.roles.each do |role| %>
            <div class="badge badge-info"><%= role.name %></div>
        <% end %>
        <% if policy(user).edit? %>
            <div class="card-footer">
                <%= link_to "Roles edit", edit_user_path(user), class: 'btn btn-sm btn-warning' %>
            </div>
        <% end %>
    </div>
</div>
    