<% content_for :title do %>
    ULearn
    \
    Activity
<% end %>
<h3 align='center'>
    Activity
    <div class="badge badge-info"><%= @activities.count %> </div>
</h3>
<ul class="list-group">
    <% @activities.each do |activity| %>
    <li class="list-group-item">
        <%= activity.id %>
        <%= activity.trackable_type %>
        <%= activity.trackable_id %>
        <%= link_to activity.trackable, activity.trackable %>
        <%= activity.key %>
        <%= activity.parameters %>
        <%= activity.owner %>
    </li>
    <% end %>
</ul>