<p id="notice"><%= notice %></p>
<% if current_user %>
  <%= current_user.email %>
<% end %>
<h1 align='center'>Courses</h1>

<h6>
  Total courses
  <div class="badge badge-info"><%= @courses.count %></div>
</h6>
<%= link_to 'Add a Course', new_course_path %>

<div class="card-columns">
  <% @courses.each do|course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>
<%== pagy_bootstrap_combo_nav_js(@pagy) %>
<br>
